@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
* {
  font-family: "Roboto Slab", serif;
  margin: 0;
}

body {
  background-color: #fffbf2;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
}

.ccolor {
  color: #ac7e68;
}

.headLeft {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 1rem;
  margin-right: 1rem;
}

h3, a, h1 {
  text-decoration: none;
}

h3 {
  font-size: 5rem;
}

svg {
  fill: #ac7e68;
  margin: 1rem;
}

li:hover {
  background-color: #ac7e68;
}

.container {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backImg {
  width: 100%;
  /* filter: brightness(50%); */
}

.center {
  text-align: left;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bColor {
  background-color: #fffbf2;
}

.section {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  /* margin-top: 4%; */
}
.section aside {
  /* flex: 1; */
  margin-left: 1rem;
}
.section .textSide {
  flex: 1;
  /* padding-top: 3rem; */
  /* padding-left: 2rem; */
  padding-right: 4rem;
  padding-bottom: 3rem;
}
.section .sectImg {
  filter: drop-shadow(0 5px 5px rgb(0, 0, 0));
}
.section .section-col {
  flex-direction: row;
}
.section .section-row {
  flex-direction: column;
}
.section p {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 6px;
  background-color: #ac7e68;
  margin-top: 2rem;
  max-width: -moz-min-content;
  max-width: min-content;
  border: none;
  color: #fff;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* height: 4rem; */
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.colorWhite {
  color: #ffffff;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

form {
  display: flex;
  flex-direction: column;
}
form > * {
  margin-bottom: 0.3rem;
}
form p {
  font-size: x-small;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}

.menu, #schedule {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.menu p, #schedule p {
  font-weight: bold;
}
.menu .menuItem, #schedule .menuItem {
  margin-top: 1rem;
  align-items: left;
  flex-direction: column;
}
.menu .menuItem a, #schedule .menuItem a {
  margin-top: 0.5rem;
}
.menu .menuPrice, #schedule .menuPrice {
  margin-top: 2rem;
  align-items: right;
}

#schedule {
  color: #fff;
}
#schedule p {
  margin: 0;
}

nav ul li:nth-child(1) a::after {
  content: "Эхлэл";
}

nav ul li:nth-child(2) a::after {
  content: "Бидний тухай";
}

nav ul li:nth-child(3) a::after {
  content: "Цэс";
}

nav ul li:nth-child(4) a::after {
  content: "Холбоо барих";
}

@media screen and (max-width: 768px) {
  * {
    font-family: "Roboto Slab", serif;
    margin: 0;
  }
  
  .line {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    flex-direction: column;
  }
    
  .ccolor {
    color: #ac7e68;
  }

  .headLeft {
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    padding: 1px;
    margin-right: 1rem;
  }

  h3, a, h1 {
    text-decoration: none;
  }

  h3 {
    font-size: 4rem;
  }

  svg {
    fill: #ac7e68;
    margin: 1rem;
  }
  
  li:hover {
    background-color: #ac7e68;
  }
  
  .container {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .backImg {
    overflow: visible;
    height: 90vh;
    width: 100%;
    filter: brightness(30%);
}
  
  .center {
    text-align: left;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .bColor {
    background-color: #fffbf2;
    
  }
  
  .section {
    display: flex;  
    padding: 1rem;
    justify-content: space-between;
    /* margin-top: 4%; */
    flex-direction: row;
  }
  .section aside {
    /* flex: 1; */
    margin-left: 1rem;
    display: none;
  }
  .section .textSide {
    flex: 1;
    /* padding-top: 3rem; */
    /* padding-left: 2rem; */
    padding-right: 4rem;
    padding-bottom: 3rem;
  }
  .section .sectImg {
    display: none;
    filter: drop-shadow(0 5px 5px rgb(0, 0, 0));
  }
  .section .section-col {
    flex-direction: row;
  }
  .section .section-row {
    flex-direction: column;
  }
  .section p {
    margin-top: 20px;
  }

  
  .button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 6px;
    background-color: #ac7e68;
    margin-top: 2rem;
    max-width: -moz-min-content;
    max-width: min-content;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    /* height: 4rem; */
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  .colorWhite {
    color: #ffffff;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  form > * {
    margin-bottom: 0.3rem;
  }
  form p {
    font-size: x-small;
  }
  
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .menu, #schedule {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
  .menu p, #schedule p {
    font-weight: bold;
  }
  .menu .menuItem, #schedule .menuItem {
    margin-top: 1rem;
    align-items: left;
    flex-direction: column;
  }
  .menu .menuItem a, #schedule .menuItem a {
    margin-top: 0.5rem;
  }
  .menu .menuPrice, #schedule .menuPrice {
    margin-top: 2rem;
    align-items: right;
  }
  
  #schedule {
    color: #fff;
  }
  #schedule p {
    margin: 0;
  }
  
  nav ul li:nth-child(1) a::after {
    content: "Эхлэл";
  }
  
  nav ul li:nth-child(2) a::after {
    content: "Тухай";
  }
  
  nav ul li:nth-child(3) a::after {
    content: "Цэс";
  }
  
  nav ul li:nth-child(4) a::after {
    content: "Холбогдох";
  }

 
}