@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');


*{
    font-family: 'Roboto Slab', serif;
    margin:0;
}


.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    }

.ccolor{
    color: #ac7e68;
    }


.headLeft {
    display: flex;
    align-items: center;
    }

ul {
    display: flex;
    list-style-type: none;
    }

li {
    padding: 1rem;
    margin-right: 1rem;
    }

h3,a,h1{
    text-decoration: none;
    }
h3{
    font-size: 5rem;
}

svg{
    fill: #ac7e68;
    margin: 1rem;
    }

li:hover{
    background-color: #ac7e68;
    }

.container{
    overflow: hidden;
    width:100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backImg{
    height: 100vh;
    width: 100%;
    filter: brightness(30%);
    object-fit: cover;

}

.center{
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.section{
    /* margin-top: 100px; */
    background-color: #fffbf2;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}

.pad{
    padding: 3rem;;
}
.section-col{
    flex-direction: row;
    
}
.section-row{
    flex-direction: column;
}

aside{
    flex: 1;
}

.textSide{
    flex: 2;
    padding: 2rem;
}

article{
    margin: 1rem;
}


.button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 6px;
    background-color: #ac7e68;
    margin-top: 2rem;

  }

.rating {
  color: #ac7e68;
  font-size: 24px;
}

.star {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #ac7e68;
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
  margin-right: 0.01rem;
}

.name{
    font-weight: bold;
}

.review{
    font-style: italic;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 50px;
}

.circleImg{
    border-radius: 50%;
    object-fit: cover;
    scale: 0.8;
}

.colorWhite{
    color: #fff;
}

header{
    position: sticky;
    top:0;
    z-index: 100;    
}

.sectImg{
    border: 1rem solid #fff;
    width: 100%;
    height: 100%;
    
}

  nav ul li:nth-child(1) a::after{
    content: "Эхлэл"; 
  }

  nav ul li:nth-child(2) a::after {
    content: "Бидний тухай";
  }

  nav ul li:nth-child(3) a::after {
    content: "Цэс";
  }

  nav ul li:nth-child(4) a::after {
    content: "Холбоо барих";
  }

  @media screen and (max-width: 768px) {
    * {
        font-family: 'Roboto Slab', serif;
        margin: 0;
    }

    .line {
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: #222;
        flex-direction: column;
    }
    
    .ccolor {
        color: #ac7e68;
    }

    .headLeft {
        display: flex;
        align-items: center;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        padding: 1px;
        margin-right: 1rem;
    }

    h3, a, h1 {
        text-decoration: none;
    }

    h3 {
        font-size: 4rem;
    }

    svg {
        fill: #ac7e68;
        margin: 1rem;
    }

    li:hover {
        background-color: #ac7e68;
    }

    .container {
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .backImg {
        overflow: visible;
        height: 90vh;
        width: 100%;
        filter: brightness(30%);
    }

    .center {
        text-align: center;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section {
        background-color: #fffbf2;
        display: flex;
        padding: 2rem;
        justify-content: space-between;
    }

    .pad {
        padding: 3rem;
    }

    .section-col {
        flex-direction: row;
    }

    .section-row {
        flex-direction: column;
    }

    aside {
        display: none;
    }

    .textSide {
        flex: 2;
        padding: 2rem;
    }

    article {
        margin: 1rem;
    }

    .button {
        display: inline-block;
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
        text-decoration: none;
        border-radius: 6px;
        background-color: #ac7e68;
        margin-top: 2rem;
    }

    .rating {
        color: #ac7e68;
        font-size: 24px;
    }

    .star {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: #ac7e68;
        clip-path: polygon(
            50% 0%,
            63% 38%,
            100% 38%,
            69% 59%,
            82% 100%,
            50% 75%,
            18% 100%,
            31% 59%,
            0% 38%,
            37% 38%
        );
        margin-right: 0.01rem;
    }

    .name {
        font-weight: bold;
    }

    .review {
        font-style: italic;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
        height: 50px;
    }

    .circleImg {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(0.8); /* You can adjust the scale value as needed */
    }

    .colorWhite {
        color: #fff;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .sectImg {
        border: 1rem solid #fff;
        width: 100%; /* You can specify the desired width here */
        height: 100%; /* You can specify the desired height here */
        object-fit: cover;
    }

    nav ul li:nth-child(1) a::after {
        content: "Эхлэл";
    }

    nav ul li:nth-child(2) a::after {
        content: "Тухай";
    }

    nav ul li:nth-child(3) a::after {
        content: "Цэс";
    }

    nav ul li:nth-child(4) a::after {
        content: "Холбогдох";
    }
}
