body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00a0e4, #00cdac);
    z-index: -1;
}

.mp3-player {
    text-align: center;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
}

.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.audio-container {
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

audio {
    width: 100%;
    outline: none;
    display: block;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.control-button {
    background-color: #00cdac;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
}

.control-button:hover {
    background-color: #00a0e4;
}
